version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
        name: Greeting
        command: echo Hello, world.

      - run:
        name: Print the Current Time
        command: date

      - run: npm install

      - run: 
      name: run tests
      command: npm test
          
      - run:
      name: run lint
      command: npm run lint